# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

menu "ZMK Behavior Whitelist Layer"
    config ZMK_BEHAVIOR_WHITELIST_LAYER
        bool
        default y
        depends on DT_HAS_ZMK_BEHAVIOR_WHITELIST_LAYER_ENABLED
endmenu
